<!-- <div class="container container-login position-absolute top-50 start-50 translate-middle" id="loginForm">
	<button class="close" id="closeForm" onclick="" href="/index">&times;</button>
	<form class="form" action="/login" method="post">
		<h4 class="text-center ">Login Form</h4>
		<div class="mb-3">
			<label class="form-label">Username</label>
			<input class="form-control" id="username" name="username">
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input type="password" class="form-control" id="password" name="password">
		</div>
		<button type="submit" class="btn btn-dark position-relative start-50 translate-middle"
			onclick="login()">Login</button>
	</form>
	<a class="position-relative text-white p-5" href="/">Back Home</a>

</div>

<script src="/js/login.js"> </script> -->