<% layout('layouts/boilerplate')%>
<main class="container login-main">
	<div class="mx-5">
		<h1>Add New User</h1>
		<form action="/dashboard/new" method="POST" class="needs-validation" novalidate>
			<div class="mb-3">
				<label class="form-label" for="username">Username</label>
				<input class="form-control" type="text" id="username" name="username" required>

				<div class="invalid-feedback">
					Please enter an username.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="email">Email</label>
				<input class="form-control" type="email" id="email" name="email" required>
				<div class="invalid-feedback">
					Please enter an email.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input class="form-control" type="password" id="password" name="password" required>
				<div class="invalid-feedback">
					Please enter a password.
				</div>
			</div>
			<button class="btn btn-success">Register</button>
		</form>
	</div>

</main>